---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<BaseLayout title="My Blog">

  <!-- Search bar section -->
  <!-- <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="relative">
      <input 
        type="text" 
        placeholder="Search articles" 
        class="w-full p-4 bg-gray-800 text-white rounded-lg"
      />
      <button class="absolute right-4 top-1/2 transform -translate-y-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </div> -->

  <!-- Posts section -->
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="max-w-7xl mx-auto px-2 py-4 border-b mb-4 ">
      <a href="/">
        <h1 class="text-4xl font-bold">Blogs by Lokesh</h1>
      </a>
    </div>
    <div class="space-y-8">
      {
        posts.map((post) => (
          <article class="flex gap-7">
            <div class="text-gray-400 mt-2">
              {new Date(post.data.date).toLocaleDateString()}
            </div>
            <div>

            <h2 class="text-2xl font-bold dark:text-white text-gray-900 mb-2">
              <a href={`/blog/${post.slug}`} class="hover:text-blue-400">
                {post.data.title}
              </a>
            </h2>
            {post.data.description && (
              <p class="text-gray-400 text-lg">{post.data.description}</p>
            )}
            <div class="flex gap-2 mt-2">
              {post.data.tags?.map((tag: string) => (
                <span class="text-cyan-400 uppercase text-sm">{tag}</span>
              ))}
            </div>
              </div>
          </article>
        ))
      }
    </div>
  </div>
</BaseLayout>
