---
const { headings } = Astro.props;
---

<nav class="space-y-2 text-sm">
  <h2 class="font-semibold hidden md:block mb-4">Table of Contents</h2>
  <ul class="space-y-2">
    {
      headings.map((heading) => (
        <li class={`pl-${(heading.depth - 1) * 4}`}>
          <a
            href={`#${heading.slug}`}
            class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 hover:underline"
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>